#
# title           :Supayuzamenyu runcom file
# description     :a runcom file is required by Supayuzamenyu for each menu
#

#
# Supayuzamenyu will bootstrap Crucial from this URL unless it already exists in the
# installation dir
CRUCIALFILES="https://github.com/qrkourier/crouton-crucial/archive/master.zip"