#
# title           :Supayuzamenyu runcom file
# description     :a runcom file is required by Supayuzamenyu for each menu
#

#
# Supayuzamenyu will install Crucial from this URL
CRUCIALFILES="https://github.com/qrkourier/crouton-crucial/archive/master.zip"